<html>
<head>
	<title>Edit Info</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
	<nav class="navbar navbar-dark bg-primary">
		<a class="navbar-brand text-white">Edit Customer Information</a>
	</nav>
	<div class="container p-3">
			<div class="card">
				<div class="card-header">
					<h3>Edit Customer Info:</h3>
				</div>
				<div class="card-body">
					<form action="/makeChanges" method="GET">
						<div class="form-group row">
							<label for="staticName" class="col-sm-2 col-form-label">Name</label>
							<div class="col-sm-10">
							  <input type="text" readonly class="form-control-plaintext" id="name" value="<%=data[0].customer.first_name%> <%=data[0].customer.last_name%>">
							</div>
						</div>
						<br>
						<div class="form-group row">
							<label for="email" class="col-sm-2 col-form-label">Email</label>
							<div class="col-sm-10">
								<input type="email" class="form-control" name="email" value="<%=data[0].customer.email%>">
							</div>
						</div>
						<br>
						<div class="form-group row">
							<label for="phone" class="col-sm-2 col-form-label">Phone</label>
							<div class="col-sm-10">
								<input type="number" class="form-control" name="phone" value="<%=data[0].customer.phone%>">
							</div>
						</div>
						<br>
						<input type='hidden' value='<%=data[0].id%>' name='orderId'>
						<div class="form-row text-center">
							<div class="col-12">
								<input type="submit" class="btn btn-primary" value="Submit">
							</div>
						</div>
					</form>
				</div>
			</div>
	</div>
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>